reflex
langchain
fastapi[all]
openai
azure-identity
azure-search-documents==11.4.0b11
azure-storage-blob
python-dotenv
azure-cosmos==4.5.2b3
requests
tiktoken
pymupdf
azure-monitor-opentelemetry
requests